.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.prod img {
  width: 450px;
  height: 300px;
}

.prod {
  padding: 2em;
}

.btns>*:hover {
  transform: scale(1.2);
  transition: transform 1.2s;
  cursor: pointer;
}

.myPlayer {
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: #1A374D;
  color: white;
}

.myPlayer img {
  width: 100px;
  height: 80px;
}

.prod img:hover {
  transform: scale(1.02);
  transition: transform 1.2s;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}